/* ============================================================================================== 
---------------------------------------- GENERAL -----------------------------------------
================================================================================================= */

@font-face {
  font-family: 'Arista';
  src: url('../fonts/arista2.0-webfont.woff2') format('woff2'),
       url('../fonts/arista2.0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
       url('../fonts/firasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
       url('../fonts/firasans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regularitalic-webfont.woff2') format('woff2'),
       url('../fonts/firasans-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif !important;
}

#body-interno {
  position: relative;
}

.font-arista{
  font-family:'Arista', sans-serif !important;
}

.font-firasans{
  font-family:'Fira Sans', sans-serif !important;
}

h1,h2,h3,h4,h5{
  color: #BF4539;
  font-family:'Arista', sans-serif;
}

footer a:hover,
.conteudo-interno a:hover,
.home-conteudo a:hover
{
  color: #BF4539;
}

@media (max-width: 575.98px) {
  .display-1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.0;
  }
  
  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
  
  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }
  
  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
}

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
/* * {
  margin: 0;
  padding: 0;
} */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url('../img/T--Sao_Carlos-Brazil--Stars.png') repeat top center;
z-index:-3;
}

.twinkling{
background:transparent url('../img/T--Sao_Carlos-Brazil--Twinkling.png') repeat top center;
z-index:-2;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url('../img/T--Sao_Carlos-Brazil--Clouds3.png') repeat top center;
  z-index:-1;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}

.twinkling, .clouds, .stars {
  position: fixed;
}

/* ============================================================================================== 

================================================================================================= */

/* ============================================================================================== 
---------------------------------------- HEADER -----------------------------------------
================================================================================================= */


/* --------------------- Navbar principal------------------------- */
@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px; }
    .navbar.scrolling-navbar .navbar-nav > li {
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }
    .navbar.scrolling-navbar.top-nav-collapse {
      padding-top: 5px;
      padding-bottom: 5px; }
}

#navPrincipal .nav-link {
  color: #fff;
}


#navPrincipal{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.top-nav-collapse {
    background-color:#0D1440 !important;
}

#navPrincipal:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
  #navPrincipal:not(.top-nav-collapse) {
        background:#0D1440 !important;
    }
}

 #navPrincipal .dropdown-menu a {
  color:#fff;
}

#navPrincipal .dropdown-menu {
  background-color: #0D1440;
}

#navPrincipal .dropdown-item:focus,
#navPrincipal .dropdown-item:hover,
#navPrincipal .nav-link:hover,
#navPrincipal .nav-link:focus{
  color: #BF4539 !important;
  background-color: #0B1129;
}

#navPrincipal .nav-flex-icons .nav-link:hover {
  cursor: pointer;
  background-color: transparent;
}

#navPrincipal .navbar-nav a {
  font-weight: 500 !important;
}

/* --------------------- header ------------------------- */

.scrolldown i {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.header-pic{
  height: 25rem;
  border: none;
  background: linear-gradient(rgba(0,0,0,.8),rgba(0, 0, 0, 0.185)), url('https://source.unsplash.com/random');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-bg-blue {
  background-color: #0D1440;
}

.lateral-menu-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

#scrollspy-menu {
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, 0.322); */
  overflow-y: auto;
  max-height: calc(100vh - 105px);
}

.scroollpy-offset::before{
  display: block;
  content: ' ';
  margin-top: -105px;
  height: 105px;
  visibility: hidden;
}

.conteudo-interno {
  background-color: #fff; 
}

.conteudo-interno, .lateral-menu-container {
  margin-top: -95px;
}

.sticky-top-offset{
  top: 95px;
}

#video-box {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
  
header #video-box video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
  
header .container {
  position: relative;
  z-index: 2;
}
  
#video-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #BF4539;
  opacity: 0.4;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header > #video-box {
    background: url('../img/T--Sao_Carlos-Brazil--HomeYeast.png') black no-repeat center center;
  }
  header #video-box video {
    display: none;
  }
}

  /*----------------- FOOTER -----------------*/

  footer a:hover, footer a:focus {
    text-decoration: underline;
  }

  .bg-footer {
    background-color: #0D1440; 
  }

  footer hr{
    background-color: rgba(25, 33, 90, 0.979); 
  }

  footer, footer a {
    color: white;
  }

  #footer-logo-max {
    max-width:120px;
    width:100%;
  }

  #footer-copyrights{
    background-color: #0B1129;
    color: #ADADAD;
  }

  